<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:webflow="http://www.springframework.org/schema/webflow-config"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/webflow-config
        http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.5.xsd">


    <!-- Just for prototyping. Externalize and use connection pooling in production settings -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/idp_postlogin_db"/>
        <property name="username" value="plf"/>
        <property name="password" value="plf"/>
    </bean>



    <bean id="termsOfUseAgreementService"
          class="edu.internet2.middleware.shibboleth.idp.postlogin.termsofuse.JdbcTermsOfUseAgreementService">
        <constructor-arg index="0">
            <bean class="edu.internet2.middleware.shibboleth.idp.postlogin.termsofuse.PeriodBasedTermsOfUseAcceptanceExpirationStrategy">
                <constructor-arg index="0" value="SECONDS"/>
                <constructor-arg index="1" value="30"/>
            </bean>
        </constructor-arg>
        <constructor-arg index="1" ref="dataSource"/>
    </bean>

    <!-- <bean id="termsOfUseAgreementService"
          class="edu.internet2.middleware.shibboleth.idp.postlogin.termsofuse.InMemoryTermsOfUseAgreementService">
        <constructor-arg index="0">
            <bean class="edu.internet2.middleware.shibboleth.idp.postlogin.termsofuse.PeriodBasedTermsOfUseAcceptanceExpirationStrategy">
                <constructor-arg index="0" value="SECONDS"/>
                <constructor-arg index="1" value="30"/>
            </bean>
        </constructor-arg>
        <constructor-arg index="1">
            <util:map map-class="java.util.concurrent.ConcurrentHashMap">
                <entry key="ip-user">
                    <bean class="edu.internet2.middleware.shibboleth.idp.postlogin.termsofuse.AuthenticatedPrincipal">
                        <constructor-arg value="ip-user"/>
                    </bean>
                </entry>
            </util:map>
        </constructor-arg>
    </bean> -->

</beans>